/* Reset simple */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}


body {
font-family: Arial, Helvetica, sans-serif;
line-height: 1.6;
background-color: #f5f5f5;
color: #333;
}


.container {
width: 90%;
max-width: 1000px;
margin: auto;
}


header {
background: #e67e22;
color: white;
padding: 40px 0;
text-align: center;
}


header h1 {
font-size: 2.5rem;
}


nav {
background: #333;
}


nav ul {
display: flex;
justify-content: center;
list-style: none;
}


nav li {
margin: 0 15px;
}


nav a {
color: white;
text-decoration: none;
padding: 15px 0;
display: block;
}


nav a:hover {
color: #e67e22;
}


main {
padding: 40px 0;
}


}
